@model RefDocumentType
@using lab6.Models

<h2>Document Type Details</h2>
<dl>
    <dt>Code</dt>
    <dd>@Model.Document_Type_Code</dd>
    <dt>Name</dt>
    <dd>@Model.Document_Type_Description</dd>
</dl>